

<!--Header (Chapter 1)-->
<section class=" chapter blue chapter-one" style="background-image: url({{'assets/images/bg/bg-blue.png'|theme}})";> 
    <div class="img-wrapper">
        <img class="skyline img-responsive" src="{{'assets/images/chapter/skyline.png'|theme}}"/>
    </div>
    <!--Sets Width of page. This creates the frame in which the content exists-->
    <div class="container chapter-width"> 
      <!--Creates a Container for middle section on section-->
      <div class="row chapter-one-padding">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 "> <img class ="img-responsive center-block" src="{{'assets/images/chapter/chapter-header.png' | theme}}"/> </div>
      </div>
    </div>
  </section>
  <!--/Header (Chapter 1)--> 