<!--Header (Chapter 1)-->
<section class=" piece white stats"> 
    
    <!--Sets Width of page. This creates the frame in which the content exists-->
    <div class="container chapter-width"> 
      <!--Creates a Container for middle section on section-->
      <div class="row stat-row  text-center" >
        <div class=" col-xs-4 stat-box ">
            <p class="stat-num">55</p>
            <p class="stat-text center-block">Brothers in our Chapter</p>
        </div>

        <div class=" col-xs-4 stat-box">
            <p class="stat-num">17k</p>
            <p class="stat-text center-block">Raised for the fight against ALS</p>
        </div>

        <div class="col-xs-4 stat-box">
            <p class="stat-num">8</p>
            <p class="stat-text center-block">home countries within our chapter</p>
        </div>

        <div class=" col-xs-4 stat-box">
            <p class="stat-num">7</p>
            <p class="stat-text center-block">True Blue members</p>
        </div>

        <div class="col-xs-4 stat-box">
            <p class="stat-num">4</p>
            <p class="stat-text center-block">Chapter Awards</p>
        </div>

        <div class=" col-xs-4 stat-box">
            <p class="stat-num">12</p>
            <p class="stat-text center-block">Knights of Pallas</p>
        </div>
      </div>

      <!--Continue button-->
      <div class="row">
          <div class="col-xs-12">
              <div id="icon" style="background-image: url({{'assets/images/chapter/next.png'|theme}})"></div>
          </div>
      </div>

    </div>
  </section>
  <!--/Header (Chapter 1)--> 