[builderList timeline] 
modelClass = "AlekMieczkowski\Timeline\Models\Timeline" 
scope = "-" 
displayColumn = "title" 
noRecordsMessage = "No records found" 
detailsPage = "-" 
detailsUrlParameter = "id" 
pageNumber = "{{ :page }}" 
== 
{% set records = timeline.records%}

<!--Timeline-->
<section class=" piece blue">

    <!--Sets Width of page. This creates the frame in which the content exists-->
    <div class="container chapter-width" id="timeline">

        <div class="row timeline-div">

            <!--Timeline for Desktop, tablet-->
            <div class="center-block hidden-xs">
                <ul class="timeline footer-text">

                    <!--Loop through timeline DB-->
                    {% for key, record in records %}
                    <li {% if (key+1)%2==0 %}class="timeline-inverted"{% endif %}>
                        <!--Induction-->
                        <div class="timeline-image">

                                
                            <img class="img-circle img-responsive" src="{{record.icon.path}}" alt=""> </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ record.date }}</h4>
                                <h3><b class="subheading">{{ record.total_rows }}{{ record.event }}</b></h3>
                                
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted timeline-width">{{ record.description | raw}}</p>
                            </div>
                        </div>
                        {% if loop.last != true%}
                        <div class="line"></div>
                        {% endif %}
                    </li>


                    {% else %}
                    <li class="no-data">{{ noRecordsMessage }}</li>
                    {% endfor %}

                </ul>
            </div>
        </div>


        
    </div>
</section>