<div class="founder-header text-center">Founding Fathers</div>

<section class="chapter blue founder-section" style="background-image: url({{ 'assets/images/bg/bg-blue.png' | theme}});"> 
    
    <!--Sets Width of page. This creates the frame in which the content exists-->
    <div class="container chapter-width">
        <div class="row founder-row">


            <!--Robert Morrison-->
            <div class="col-sm-12 col-md-4 center-block">
                <div class="founder-container center-block">
                    <img class="founder-img img-responsive" src="{{'assets/images/nationals/founders/robert-morrison-image.png' | theme}}"/>
                    <div class="founder-text text-center">
                        <div class="founder-more">
                            <div class="founder-name-div">
                                    <b class="founder-name">Robert Morrison</b>
                            </div>
                            
                            <img class="show-more" src="{{'assets/images/chapter/next.png'| theme}}"/>
                            <div class="founder-show-more">
                                
                                <p class="founder-desc">Robert Morrison was born on March 15, 1822 on a farm in Greene County, Pennsylvania.  He organized churches and missions, and did domestic mission work in Missouri, as well as became a principal at Waterford Academy in Ohio. His philosophy was “To do what ought to be done but what would not have been done unless I did it, I thought to be my duty.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Robert T. Drake-->
            <div class="col-sm-12 col-md-4 center-block">
                <div class="founder-container center-block">
                    <img class="founder-img img-responsive" src="{{'assets/images/nationals/founders/robert-t-drake-image.png' | theme}}"/>
                    <div class="founder-text text-center">
                        <div class="founder-more">
                            <div class="founder-name-div">
                                    <b class="founder-name">Robert T. Drake</b>
                            </div>
                            
                            <img class="show-more" src="{{'assets/images/chapter/next.png'| theme}}"/>
                            <div class="founder-show-more">                                    
                                <p class="founder-desc">Robert Thompson Drake was born in Clark County, Ohio on March 6, 1822. A product of Miami University’s Class of 1850, Drake taught mathematics and natural in Anderson’s Female Seminary. He devoted much of his life to preaching all throughout the Midwest.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--John W. Lindley-->
            <div class="col-sm-12 col-md-4 center-block">
                <div class="founder-container center-block">
                    <img class="founder-img img-responsive" src="{{'assets/images/nationals/founders/john-w-lindley-image.png' | theme}}"/>
                    <div class="founder-text text-center">
                        <div class="founder-more">
                            <div class="founder-name-div">
                                    <b class="founder-name">John W. Lindley</b>
                            </div>
                            
                            <img class="show-more" src="{{'assets/images/chapter/next.png'| theme}}"/>
                            <div class="founder-show-more">                                    
                                <p class="founder-desc">Mr. Lindley was a third cousin of Robert Morrison. He was also born in Ohio, in Knox County. He received his A.B. degree from Miami in 1850 and his M.A. degree in 1853. He attended many of the Fraternity Conventions, the most prominent ones being the Semi-Centennial celebration in 1898 and the General Convention in New York in 1902. He was the last surviving founder, passing away at the age of 81.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
            <!--John McMillan Wilson-->
            <div class="col-sm-12 col-md-4 center-block">
                    <div class="founder-container center-block">
                        <img class="founder-img img-responsive" src="{{'assets/images/nationals/founders/john-m-wilson-image.png' | theme}}"/>
                        <div class="founder-text text-center">
                            <div class="founder-more">
                                <div class="founder-name-div">
                                        <b class="founder-name">John M. Wilson</b>
                                </div>
                                
                                <img class="show-more" src="{{'assets/images/chapter/next.png'| theme}}"/>
                                <div class="founder-show-more">                                    
                                    <p class="founder-desc">John McMillian Wilson was born on September 10, 1825 in Union County, Indiana. He attended Xenia Academy, and entered Miami University in 1846. He received an A.B. degree in 1849 and an M.A. degree in 1852. Later in his life he was commissioned as a recruiting officer in both Ohio and Indiana. Undergraduate students knew him as “Pop” Wilson.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--Andrew Watts Rogers-->
            <div class="col-sm-12 col-md-4 center-block">
                    <div class="founder-container center-block">
                        <img class="founder-img img-responsive" src="{{'assets/images/nationals/founders/andrew-w-rogers-image.png' | theme}}"/>
                        <div class="founder-text text-center">
                            <div class="founder-more">
                                <div class="founder-name-div">
                                        <b class="founder-name">Andrew W. Rogers</b>
                                </div>
                                
                                <img class="show-more" src="{{'assets/images/chapter/next.png'| theme}}"/>
                                <div class="founder-show-more">                                    
                                    <p class="founder-desc">Andrew Watts Rogers attended the prep school at Miami University in 1846 and graduated with a degree in 1851 and earning a M.A. degree in 1854. He, like many of the Founding Fathers, was a teacher at an academy. He also served as lieutenant colonel during the Civil War.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--Ardivan Walker Rodgers-->
            <div class="col-sm-12 col-md-4 center-block">
                    <div class="founder-container center-block">
                        <img class="founder-img img-responsive" src="{{'assets/images/nationals/founders/ardivan-w-rodgers-image.png' | theme}}"/>
                        <div class="founder-text text-center">
                            <div class="founder-more">
                                <div class="founder-name-div">
                                        <b class="founder-name">Ardivan W. Rodgers</b>
                                </div>
                                
                                <img class="show-more" src="{{'assets/images/chapter/next.png'| theme}}"/>
                                <div class="founder-show-more">                                    
                                    <p class="founder-desc">Ardivan Walker Rodgers was born in Miami County near Piqua, Ohio, on October, 20,1824. His grandpa was a captain in the war of 1812. He received two degrees at the seminary at Oxford. Unfortunately, he died from typhoid fever at the age of 32 and was the first founder to pass away.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</section>