<section class="chapter white nationals-header" style="background-image: url({{ 'assets/images/bg/bg-white.png' | theme}});"> 
    
    <!--Sets Width of page. This creates the frame in which the content exists-->
    <div class="container chapter-width"> 
        <img class="text-center center-block header-img" src="{{'assets/images/nationals/nationals-header.png'|theme}}"/>
    </div>
    <div class="row">
        <div class=" col-md-offset-3 col-md-6 col-xs-12 col-xs-offset-0" >
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" align="center" style="height:450px;" src="https://www.youtube.com/embed/eOZfGZOrENA"></iframe>
            </div>
        </div>
    </div>
</section>