<section class="chapter white history-div" style="background-image: url({{ 'assets/images/bg/bg-white.png' | theme}});"> 
    
    <!--Sets Width of page. This creates the frame in which the content exists-->
    <div class="container chapter-width">
        <div class="row read-more-div">
            
            <!--History Today-->
            <div class="col-md-6 today">
                <h2>Phi Delta Theta Today</h2>
                <p class="read-more-text">{% content 'nationals/history' %}</p>
            </div>
            <!--Learn More-->
            <div class="col-md-6 text-center">
                <a href="http://www.phideltatheta.com"><img height="300px"src="{{ 'assets/images/nationals/hq-link.png' | theme}}"></a>
            </div>
            
        </div> 
    </div>
</section>