<!--About Us (Piece 2)-->
<section class=" piece blue  piece-two-mobile bottom-slant  top-slant" style="background-image: url({{ 'assets/images/bg/bg-blue.png' | theme}});"> 
    <!--Sets Width of page. This creates the frame in which the content exists-->
    <div class="container page-width about">    
        <!--First Row, holds the About us line-->
        
    <!--Second Row, holds crest and about us information-->
    <div class="row vertical-div">
      <div class="col-md-12">
           <h2 class="about-header text-center"> Phi Delta Theta is a nationally recognized social fraternity built upon friendship, sound learning, and moral rectitude. </h2>
      </div>
      </div>
      <div class="row"></div>
        <div class="col-sm-6">
            <img class="about-img img-responsive center-block" src="{{ 'assets/images/home/about-img.png' | theme}}"/>
        </div>
        <div class="col-sm-6">
                <p class="footer-text"> 
                    <!--About Us Text Here--> 
                    <br />
                    The fraternity was founded by “The Immortal Six” at Miami University on 1848. Phi Delta Theta strives to helping each and every individual meet his full potential as a man. We celebrate the broad spectrum in diversity that the fraternity holds. Instead of molding young men into the ideal figure, we celebrate the uniqueness of each individual to empower every brother to exceed his personal expectations. One man is no man is our slogan and we stand by that no matter what.  By learning from each other’s strengths while helping to improve each other’s weaknesses, each and every member of Phi Delta Theta develops into a greater version of himself that he could on his own. </br>
                </p>
            </div>
    </div>
</section>
<!--/About us(Piece 2)--> 

<style>
    .about-header{  
        color: white;
    }

    .about-img{
        height:300px;
        margin-top:30px;
        border:2px solid white;
    }
</style>