<section class="piece blue events" style="background-image: url({{ 'assets/images/bg/bg-blue.png' | theme}});">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
            </div>
            <div class="col-sm-6 col-md-4">
                <table class="table">
                    <tbody>
                        <tr class="rush-row">
                            <td>Event Name</td>
                            <td>01/04/2012</td>
                            <td>Cal</td>
                        </tr>
                        <tr class="rush-row">
                            <td>Super Extra Long Event Name For Testing Stuff</td>
                            <td>01/04/2012</td>
                            <td>Cal</td>
                        </tr>
                        <tr class="rush-row">
                            <td>Event Name</td>
                            <td>01/04/2012</td>
                            <td>Cal</td>
                        </tr>
                        <tr class="rush-row">
                            <td>Super Extra Long Event Name For Testing Stuff</td>
                            <td>01/04/2012</td>
                            <td>Cal</td>
                        </tr>
                        <tr class="rush-row">
                            <td>Event Name</td>
                            <td>01/04/2012</td>
                            <td>Cal</td>
                        </tr>
                        <tr class="rush-row">
                            <td>Super Extra Long Event Name For Testing Stuff</td>
                            <td>01/04/2012</td>
                            <td>Cal</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>