[builderList rush]
modelClass = "AlekMieczkowski\RushSchedule\Models\Rush"
scope = "-"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = rush.records%}
<section class="piece blue events" style="background-image: url({{ 'assets/images/bg/bg-blue.png' | theme}});">
    <div class="container-fluid">
        <div class="row rush-row">
            <!--Header Text-->
            <div class="col-md-12 text-center rush-header">
                <h1>Rush Schedule</h1>
                <h3 class="rush-year">Spring 2017</h3>
            </div>
            <!--Rush Graphic-->
            <div class="col-md-6">
                <img  class="rush-graphic center-block" alt="Rush Graphic" src="{{'assets/images/home/rush-graphic.png' | theme}}" />
            </div>

            <!--Rush Events-->
            <div  class="col-sm-6 col-md-4">
                {% for record in records %}
                <div id="rush-item">
                    <div class="event-info-div">
                        <div class="event-arrow">
                                <img class="event-arrow-img center-block" src="{{ 'assets/images/home/arrow-white.png' | theme}}" />
                        </div>
                        <div class="event-name">{{record.name}}</div>
                        <div class="event-cal"><img class="event-cal-img center-block" src="{{ 'assets/images/home/cal-white.png' | theme}}" /> </div>
                    </div>
                    <div class="event-details">
                        <div class="event-date">{{record.date}}</div>
                        <div class="event-desc">{{record.description}}</div>
                        <div class="event-location"><b>Location: </b>{{record.location}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            

            
        </div>
    </div>
</section>
{% put js %}
<script src="{{'assets/vendor/jquery.rotate.js'| theme}}"></script>
{% endput %}
