<!--Header (Piece 1)-->
<section class="piece white top bottom-slant" style="background-image: url({{ 'assets/images/bg/bg-header.png' | theme}});">       
    <!--Sets Width of page. This creates the frame in which the content exists-->
    <div class="container-fluid"> 
        <!--Creates a Container for middle section on section-->
        <div class="row header-padding">
            <div class="col-md-6 col-md-offset-3"> 
                <img class ="img-responsive center-block" src="{{'assets/images/home/logo-blue.png' | theme}}"/>
            </div>  
        </div>
    </div>
</section>
<!--/Header (Piece 1)--> 