<!--Three Pillars-->

<style>
.pillar-friendship{
    background-image: url({{ 'assets/images/home/friendship.png' | theme}});
    background-repeat: no-repeat;
    background-position: center; 
    background-size:100% auto;
}

.pillar-friendship:hover{
    background-image: url({{ 'assets/images/home/friendship-overlay.png' | theme}});
}

.pillar-friendship-selected{
    background-image: url({{ 'assets/images/home/friendship-overlay.png' | theme}});
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% auto;
}

.pillar-learning{
    background-image: url({{ 'assets/images/home/sound-learning.png' | theme}});

    background-repeat: no-repeat;
    background-position: center; 
}

.pillar-learning:hover{
    background-image: url({{ 'assets/images/home/sound-learning-overlay.png' | theme}});
}

.pillar-learning-selected{
    background-image: url({{ 'assets/images/home/sound-learning-overlay.png' | theme}});
}

.pillar-rectitude{
    background-image: url({{ 'assets/images/home/rectitude.png' | theme}});

    background-repeat: no-repeat;
    background-position: center; 
}

.pillar-rectitude:hover{
    background-image: url({{ 'assets/images/home/rectitude-overlay.png' | theme}});
}

.pillar-rectitude-selected{
    background-image: url({{ 'assets/images/home/rectitude-overlay.png' | theme}});
}

</style>
<section class="piece white pillars" style="background-image: url({{ 'assets/images/bg/bg-white.png' | theme}});">
    <div class="container">
        <div class="row pillars-header">
            <div class="col-xs-12 text-center">
                <h1>OUR VALUES</h1>
            </div>
        </div>
        <div class="row center-block">
            <div class="col-md-4 col-sm-12"> 
                <div class="row">
                    <!--Sound Learning-->
                    <div class="col-xs-12">
                            <div id="pillar-learning"  class="pillar-image center-block pillar-learning"  ></div>
                    </div>
                    <!--Friendship-->
                    <div class="col-xs-6">
                        <div id="pillar-friendship" class="pillar-image center-block pillar-friendship"  ></div>
                    </div>
                    <!--Moral Rectitude-->
                    <div class="col-xs-6">
                            <div id="pillar-rectitude"  class="pillar-image center-block pillar-rectitude" ></div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center">
                    <p class="pillar-text center-block" id="friendship">
                            <b class="pillar-name">Friendship</b><br><br>
                            "One Man is No Man" is a saying that Phi Delta Theta is raised on. The belief is that with out others you are not as great as you are with others. Our 6 Founders are proof of this because with out each other they would not have been able to start this great fraternity that is here today. Together we make our fraternity, and by working with one another we make it the best it possibly could be. Friendship also is shown in our diverse group of brothers, when looking at our backgrounds, we all come from different walks of life that have led us to this one place.
                    </p>

                    <p class="pillar-text" id="learning" >
                            <b class="pillar-name">Sound Learning</b><br><br>
                            The first pillars is Scholarship, we as college men strive to make not only the best grades on our campus but the biggest impact. Our brothers are always found in the library working together and supporting one another in the academic careers. Many of our brothers work with academics on a daily basis, such as being a Teacher Assistant or a Mentor for students on academic probation. With in out fraternity you will not find just one or two majors but a wide variety of different skill sets. The majors in our fraternity range from Engineering to Special Education. As well as making good grades, our brothers are involved on campus in many different organization such as Housing and Residence Life, Niner Guides, and SOAR Orientation Counselors.
                    </p> 

                    <p class="pillar-text" id="rectitude">
                            <b class="pillar-name">Rectitude</b><br><br>
                            This pillar is often the most misunderstood of the three, yet one that stands out among the rest. Moral Rectitude is defined as doing of morally correct things, even when no one is looking. This means that we strive to always do the ethical and correct thing no matter the reward or punishment. The brothers of Phi Delta Theta work constantly to make the right decisions and to leave a great impact on society.
                    </p> 

            </div>
        </div>
    </div>
</section>