{% put styles %}
<link type="text/css" href="{{ ['assets/scss/layouts/footer.scss'] | theme }}" rel="stylesheet"/>
{% endput %}


    <div class="footer-basic" style="background-color:rgb(0,48,84);min-height:140px;  border-top:4px solid white;">

        <div class="social text-center" style="padding:20px;">
            <p style="color:rgb(255,255,255);font-size:36px;padding-top:6px;">Join us on Social Media!</p>
            <a href="https://www.facebook.com/PhiDeltUNCC/"><img class="footer-icon" src="{{ 'assets/images/footer/social-facebook.png' | theme}}" /></a>&nbsp&nbsp
            <a href="https://twitter.com/phideltuncc?lang=en"><img class="footer-icon" src="{{ 'assets/images/footer/social-twitter.png' | theme}}" /></a>&nbsp&nbsp
            <a href="https://www.instagram.com/phideltuncc/"><img class="footer-icon" src="{{ 'assets/images/footer/social-instagram.png' | theme}}"/></a>&nbsp&nbsp
            <a href="https://www.youtube.com/channel/UCejms2CeM4hz6s0oqN-4CJg"><img class="footer-icon" src="{{ 'assets/images/footer/social-youtube.png' | theme}}"/></a>
        </div>


    </div>


