<!--Navigation Bar-->

<nav class="navbar navbar-default navbar-fixed-top center-block" data-spy="affix" data-offset-top="40">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container page-width">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{'home'| page}}"><img class="navbar-logo" height="50px"src="{{ 'assets/images/navbar/logo-primary.png' | theme}}"/></a></div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right menu">
          <li class="{% if this.page.id == 'chapter' %}active{% endif %}"><a href="{{'chapter'| page}}">Our Chapter</a></li>
          <li class="{% if this.page.id == 'nationals' %}active{% endif %}"><a href="{{'nationals'| page}}">Nationals</a></li>
          <li class="{% if this.page.id == 'portal' %}active{% endif %}"><a href="{{'portal'| page}}">Brother Portal</a></li>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>