//site colors
$primary: #003054;
$secondary: white;
$triary: #007FFF;

/*Pieces*/
.piece{
	
	z-index:0;
	position:relative;
	overflow:auto;
	
		
	
}

/*~~~~~~~~Piece White~~~~~~~~*/

.white{ 

    background-color: $secondary;
background-repeat:no-repeat;
background-position: center center;



/*Background effect*/
background-size:cover;
background-attachment:fixed;

}

/*~~~~~~~~Piece Blue~~~~~~~~*/


.blue{

	background-color: $primary;
	background-repeat:no-repeat;
    background-position: center center;
    
    /*Background effect*/
    background-size:cover;
	background-attachment:fixed;
	
    color:$secondary;

}

@media (max-width: 480px) {
    .piece-two{
        min-height: 900px;

        


    }
}
/*~~~~~~~~Top Section~~~~~~~~*/

.top{
	min-height: 650px;
}
/*For Rows*/
.header-padding{
	padding-top: 100px;
}

/*Positioning Header*/
.banner-custom{
	padding-top:200px;
}
.bottom-pad{
	padding-bottom:5px;
}


/*~~~~~~~~About~~~~~~~~*/

.about{
	color:$primary;
	min-height: 700px;
	
}

.about > h3{
	color: $secondary!important;
}

.page-width > .about-us{
    padding-top:80px;
}

/*~~~~~~~~Pillars~~~~~~~~*/
.pillars{
	min-height:600px;
}
.pillars > .page-width{
	width: 100vw;
}

.pillars-header > .text-center > h1{
	color: $primary;
}
.pillars-header{
	margin-top:80px;
}

.pillar-icon{
	max-height:180px;
	margin-bottom:20px;
	border-radius:50%;

}
.col-xs-6 > .pillar-icon{
	max-height:200px;
}

.pillar-text{
	font-size:18px;
	font-style:bold;
	color: $primary;
	margin-top:20px;
}

.pillar-name{
	font-size:30px;
}
.pillar-image-border{
	border: 4px $primary solid;
}

