//site colors
$primary: #003054;
$secondary: white;
$triary: #007FFF;

/*~~~~~~~~Rush Events~~~~~~~~*/



.events{
	min-height:500px;

}


.rush-row{
	margin-top:40px;
	margin-bottom:100px;
}

.rush-header{
	margin-bottom:60px;
	margin-top:80px;
}
.rush-year{
	margin-top:-8px;
}

/*Image*/
.img-container img{
	max-width:100%;
	
}
.img-container{
	position:relative;
	max-height:600px;
	max-width:600px;
	border: 4px solid $secondary;
	

}

.download-icon-div{
	position:absolute;
	top:0;
	left:0;
	height:50px;
	width:50px;
	background-color:$secondary;
	border:2px solid $secondary;
	border-radius:0px 0px 4px 0px;

}

.download-icon{
	height: 30px;
    width: 30px;
    position: absolute;
    margin-left: 6px;
    margin-top: 4px;
}


#rush-item{
	margin-bottom:6px;
}

.event-header{
	margin-bottom:60px;
}
//event info height items
$event_info_height: 50px;

.event-info-div{
	width:100%;
	min-height:$event_info_height;
	position:relative;
	border-top:2px $secondary solid;

}

.event-arrow{

	min-height:$event_info_height;
	float:left;
	width:10%;
}

.event-arrow-img{
	height:40px;
	width:40px;
}
.event-name{

	min-height:$event_info_height;
	float:left;
	width:80%;
	font-size:30px;
	
}

.event-cal{

	min-height:$event_info_height;
	float:right;
	width:10%;
}

.event-cal-img{
	height:30px;
	width:30px;
	margin-top:6px;
}

.event-details{
	width:100%;
	height:0px;
	position:relative;
	overflow:hidden;
}

.event-date{
	padding:10px;
	font-size:18px;
	opacity:0;
}
.event-desc{
	font-size:14px;
	padding:10px;
	opacity:0;
}

.event-location{
	padding:10px;
	font-size:16px;
	opacity:0;
}

.dl-button{
	font-size:30px;
	background:$secondary;
	color: $primary;
	border:4px solid $secondary;
	border-radius:10px;
	width:100%;
	margin-top:40px;
}

/*Contact Us*/
.contact-text{
    color: $primary;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    margin-top:40px;
    margin-bottom:30px;

}

.contact-form{
    margin-bottom:60px;
}

label{
    color: $primary;
}

#simpleContactSubmitButton{
    color: $secondary;
    background-color:$primary;
    font-size:22px;
    width: 70%;
    height:50px;
    margin-top:10px;
}
#comments{
    width:100%;
}

.form-group > label{
    font-size:16px;
}

#contactForm  > div{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.form-group > input{
    background-color: $primary;
    color: $secondary;
}

.form-group > textarea{
    background-color: $primary;
    color: $secondary;
}

#contactForm_forms_flash .alert{
	color: $primary;
	background-color: rgba(255,255,255,.4)!important;
	border: 2px solid $primary;
}