<section class=" piece white future-events" style="background-image: url({{ 'assets/images/bg/bg-white.png' | theme}});"> 
    <!--Sets Width of page. This creates the frame in which the content exists-->
    <div class="future-events-wrapper"></div>
</section>
<script>
    //send icon img data to js
    var img ="{{ 'assets/images/home/cal-blue.png' | theme}}";
</script>
{% put js %}
<script src="{{'assets/vendor/endless.min.js'| theme}}"></script>
<script src="{{'assets/vendor/ics.min.js'| theme}}"></script>
<script src="{{'assets/vendor/google-calendar-events.min.js'| theme}}"></script>
<script src="{{'assets/vendor/jquery.fittext.js'| theme}}"></script>
<script src="{{'assets/javascript/events.js'| theme}}"></script>
{% endput %}
