[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "event"
==
<section class=" piece blue latest-events" style="background-image: url({{ 'assets/images/bg/bg-blue.png' | theme}});"> 
    
    <!--Sets Width of page. This creates the frame in which the content exists-->
    <div class="container events-width"> 
        <!--Header text-->
        <div class="row row-latest-header">
            <h1 class="text-center">Latest Events</h1>
        </div>
        <!--Blog Post List-->
        <div class="row row-latest-post">
            {% for post in posts %}
            <div class="col-md-6 col-sm-12">
                <a href="{{post.url}}"> 
                    <div class="event-container" style="background-image: url({{ post.featured_images[0].path }});">
                        <!--Description-->
                        <div class="event-desc text-center">
                            <h1 class="post-title">{{post.title}}</h1>
                            <h2 class="post-date">{{post.published_at |date('M d, Y') }}</h2>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor%}
        </div>

            
    </div>
</section>